#ACTION=="add", SUBSYSTEM=="drm",  RUN+="/home/jesse/bin/work_desktop"
#ACTION=="remove", SUBSYSTEM=="drm", RUN+="/home/jesse/.screenlayout/laptop.sh"
ACTION=="change", KERNELS=="evdi.0", DRIVERS=="evdi", RUN+="/usr/local/sbin/display-dock-set.sh"
