---
- name: check for cruft
  stat:
    path: '~/{{ item.path | basename}}' 
  with_filetree: "~/dotfiles/"
  when: item.path | basename == item.path and item.path | basename != ".stfolder"
  register: dotfiles

- name: remove the old cruft
  file: 
    path: '~/{{ item.path | basename}}' 
    state: absent
  with_items: "{{ dotfiles | json_query('results[*].stat') }}"
  when: (item.isdir is defined and item.isdir) or (item.isreg is defined and item.isreg)

- name: setup dotfile symlinks
  file: 
    src: '{{ item.root + (item.path | basename) }}'
    path: '~/{{ item.path | basename}}' 
    state: link 
    force: true
  with_filetree: "~/dotfiles/"
  when: item.path | basename == item.path and item.path | basename != ".stfolder"
- name: offlineimap
  shell: offlineimap -o

- name: notmuch
  shell: notmuch new

- name: vdirsyncer discover
  shell: yes | vdirsyncer discover

- name: vdirsyncer sync
  shell: vdirsyncer sync
