[Unit]
Description=Lock X session at suspend
Before=suspend.target
 
[Service]
User=%i
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3exit lock
 
[Install]
WantedBy=sleep.target
